<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);">

<h1>Recent articles</h1>

<%= link_to 'New article', new_article_path, class: "menu" %>




<% @articles.each do |article| %>
<div>
<div class="show_article_title">
<%= article.title %>
</div>

<div class="show_articles">
<%= article.text %>
</div>
</div>
<div class="show_article_menu">
  <%= link_to 'Show', article_path(article) %>
  <%= link_to 'Edit', edit_article_path(article) %>
  <%= link_to 'Home', controller: 'welcome' %>
</div>
<% end %>

<!--
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Home', controller: 'welcome' %></td>
    </tr>
  <% end %>
</table> -->


</div>
